<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Joti+One&family=Oxanium:wght@200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <div class="headbox">
        <div class="first">
          <h1>FoodPhoria</h1>
        </div>
        <div class="three">
          <h4>"Do you believe in love at first bite?"</h4>
        </div>
      </div>
      <br>
      <br>
      <div class="search1">
        <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <h5>
            <input type="text" placeholder="What's in your mind today ?">
          </h5> 
          <select name="dish">
            <option value="click">CLICK ME!</option>
            <option value="Pizza">PIZZA</option>
            <option value="Fries">FRIES</option>
            <option value="Sandwich">SANDWICH</option>
            <option value="Momos">MOMOS</option>
            <option value="Maggi">MAGGI</option>
            <option value="Desserts">DESSERTS</option>
            <option value="Drinks">DRINKS</option>
            <option value="Ice creme">ICE CREME</option>
          </select>
          <br><br>
        </div>
      </div>
      <br>
      <br>
      <div class="food">
        <img src="{{ url_for('static', filename='images/cafe photo.webp') }}" height="1400" width="3800">    
     </div>
      <br>
      <br>
      <br>
      <br>
      <nav>
        <a><i class="fa-solid fa-bars"></i></a>
        <a href="index.html">HOME</a>
        <a href="aboutus.html">ABOUT US</a>
        <a href="location.html">LOCATION</a>
        <a href="cookbook.html">COOKBOOK</a>
        <a href="REVIEW.html">REVIEWS</a>
      </nav>
      <br>
      <br>
      <br>
      <div class="foodbox">
        <div class="box">
          <img src="{{ url_for('static', filename='images/burger pink.png') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/pink dessert.png') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/brown burritos.jpg') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/drink pink.png') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/tacospink.png') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/pizzza.jpg') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/pink combo.jpg') }}" height="800" width="805">
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/Strawberry-Ice-Cream-.jpg') }}" height="800" width="805">
        </div>
      </div>
      <br>
      <br>
      <div class="feedback">
        <a href="feedback.html">FEEDBACK</a>
      </div>
      <br>
      <br>
      <div class="tittle">
        <h1>Cookery Wizard</h1>
      </div>
      <div class="chefbox">
        <span class="photo">
          <img src="{{ url_for('static', filename='images/MANVI BU.jpg') }}" height="995" >
        </span>
        <span class="photo">
          <img src="{{ url_for('static', filename='images/vansh BU .jpg') }}" height="995">
        </span>
        <span class="photo">
          <img src="{{ url_for('static', filename='images/MANYA BU.jpg') }}" height="995">
        </span>
        <span class="photo">
          <img src="{{ url_for('static', filename='images/yash bu.jpg') }}" height="995">
        </span>
        <span class="photo">
          <img src="{{ url_for('static', filename='images/VIRAT BU.jpg') }}" height="995">
        </span>
      </div>
      <br>
      <div class="namebox">
        <div class="name"><H6>MANVI KAMBOJ</H6></div>
        <div class="name"><H6>VANSH SINGHAL</H6></div>
        <div class="name"><H6>MANYA CHAUBEY</H6></div>
        <div class="name"><H6>YASH ROHILLA</H6></div>
        <div class="name"><H6>VIRAK SINGH DHEK</H6></div>
      </div>
    </header>
  </body>
</html>
